* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7adfff;
}

.container {
  padding-inline: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 3.875rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.box-1 {
  background-color: #4f8eec;
  height: 11.75rem;
}

.box-2 {
  background-color: #005c79;
  height: 23.75rem;
}

.box-3 {
  background-color: #0a1e3c;
  height: 22.25rem;
}

@media screen and (min-width: 52.125em) {
  .container {
    padding-inline: 3.75rem;
    padding-top: 3.5rem;
    padding-bottom: 1.875rem;
    height: 69.3125rem;

    grid-template-columns: 1fr 16.125rem;

    grid-template-rows: 17.0625rem 1fr;
  }

  .box-1 {
    height: auto;
  }

  .box-2 {
    height: auto;
    grid-column: 2 / 3;
    grid-row: span 2;
  }

  .box-3 {
    height: auto;
  }
}

@media screen and (min-width: 90em) {
  .container {
    padding-inline: 0;
    padding-top: 3.25rem;
    padding-bottom: 1.625rem;
    height: 59.125rem;

    max-width: 75rem;
    margin-inline: auto;

    grid-template-columns: 1fr 16.125rem;
    grid-template-rows: 17.0625rem 1fr;
  }
}
