* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

header {
  padding-inline: 1rem;
  margin-bottom: 1.75rem;
}

.navbar {
  margin-top: 2rem;
  background-color: #000;
  padding: 1rem;
  border-radius: 1rem;
}

.top-navbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
}

.search-bar {
  height: 4rem;
  flex: 1;
  background-color: #fff;
  border-radius: 10rem;
}

.bottom-navbar {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nav-card {
  display: flex;
  gap: 0.75rem;
}

.nav-square {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}

.nav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.nav-des {
  height: 0.75rem;
  background-color: #fff;
}
.main-layout {
  padding-inline: 1rem;
  margin-bottom: 5.25rem;
}

.main-layout-section {
  padding: 1rem;
  background-color: #000;
  background-color: #000;
  border-radius: 1rem;
  color: red;
}

.main-layout-top {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  margin-bottom: 1.5rem;
}

.small-square-wrapper {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}

.small-square {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
}

.profile {
  display: flex;
  gap: 0.75rem;
}

.profile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  height: 2rem;
  background-color: #fff;
}

.des {
  height: 0.5rem;
  background-color: #fff;
}

.nested-rect {
  margin-top: 2px;
  display: flex;
  gap: 0.25rem;
}

.nested-rect div:first-child {
  background-color: #fff;
  width: 1.25rem;
  height: 1.25rem;
}

.nested-rect div:last-child {
  background-color: #fff;
  width: 4.75rem;
  height: 1.25rem;
}

.main-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.box {
  background-color: #fff;
}

.box-1 {
  height: 1.75rem;
}

.box-2 {
  height: 4.5rem;
}

.box-3 {
  height: 58.875rem;
}

@media screen and (min-width: 770px) {
  .top-navbar {
    gap: 0.625rem;
    margin-bottom: 1rem;
  }

  .circle,
  .search-bar {
    width: 5rem;
    height: 5rem;
  }

  .bottom-navbar {
    flex-direction: row;
    gap: 2.5rem;
  }

  .nav-card {
    flex: 1;
    gap: 1rem;
  }

  .main-layout-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .small-square-wrapper {
    order: 1;
    align-self: flex-start;
  }

  .profile {
    min-width: 20.25rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    max-width: 75rem;
    margin-inline: auto;
  }

  .top-navbar {
    margin-bottom: 1.625rem;
  }

  .circle,
  .search-bar {
    width: 6.25rem;
    height: 6.25rem;
  }

  .nav-des {
    width: 7.5rem;
  }

  .bottom-navbar {
    justify-content: center;
  }

  .nav-card {
    flex: 0;
  }

  .main-layout {
    max-width: 75rem;
    margin-inline: auto;
  }
}
