* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebd6fb;
}

.container {
  padding-inline: 1rem;
  padding-bottom: 12.5rem;
  padding-top: 1.5rem;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 12.5rem);
}

.container .box {
  /* height: 200px; */
}

@media screen and (min-width: 47.5em) {
  .container {
    padding-inline: 3.75rem;
    padding-top: 2.5rem;
    padding-bottom: 11.5rem;
  }
}

@media screen and (min-width: 90em) {
  .container {
    padding-inline: 0;
    max-width: 75rem;
    margin-inline: auto;
    padding-top: 5rem;
    padding-bottom: 8.75rem;
  }
}
