* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7adfff;
}

.container {
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 3.75rem;

  display: grid;
  /* grid-template-columns: repeat( auto-fit, minmax(22.375rem, 1fr) ); */
  grid-template-columns: 1fr;
  gap: 1rem;
}

.box {
  background-color: #fff;
  height: 270px;
}

@media screen and (min-width: 834px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 3.75rem;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 0;
    padding-top: 4.5rem;

    max-width: 75rem;
    margin-inline: auto;
    gap: 1.25rem;
  }
}
